Package: com.sa.NCSearchPreference
Name: NCSearchPreference
Version: 1.0-1
Description: 
Section: PreferenceBundles
Depends: firmware (>= 6.0), mobilesubstrate, preferenceloader
Conflicts: 
Replaces: 
Priority: optional
Architecture: iphoneos-arm
Author: Meirtz Suu BlueCocoa
dev: 
Homepage: www.sa1varmy.com
Depiction: 
Maintainer: 
Icon: 

